@using SkillsDashboard.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<link href="~/Content/loginPage.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/Animate.css">



<div class="container">
    <div class="skill-dashboard-login-card skill-dashboard-login-card-container animated zoomIn">
        
        <img id="profile-img" class="login-profile-avatar" src="~/Images/login_avatar.png"/>
        
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <span class="skill-dashboard-reauth-email animated">Login to Skills Dashboard</span>
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        } 
        
        @Html.ActionLink("Register as a new user", "Register", new { @class = "register-new-user" })
        
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
}